{% load static %}
<section>
  <div class="scroll-holder">        
      <div class="scroll-tray">
        <div>
          <img src="{% static 'img/slider/1.webp' %}" >
        </div>
        <div>
          <img src="{% static 'img/slider/2.webp' %}" >
        </div>
        <div>
          <img src="{% static 'img/slider/3.webp' %}" >
        </div>
        <div>
          <img src="{% static 'img/slider/4.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/5.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/6.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/7.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/8.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/9.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/10.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/11.jpeg' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/12.jpeg' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/13.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/22.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/23.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/24.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/25.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/26.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/27.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/7.webp' %}" />
        </div>
        <div>
          <img src="{%static 'img/slider/8.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/10.webp' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/11.jpeg' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/12.jpeg' %}" />
        </div>
        <div>
          <img src="{% static 'img/slider/13.webp' %}" />
        </div>

      </div>
  </div>
      
</section>