
.scroll-tray {
    white-space: nowrap;
  }
  .scroll-tray div {
    display: inline-block;
  }

  .scroll-tray img {
    border-radius: 0.3rem;
    margin: 7px 5px;
    padding: 0;
    width: 340px;
  }

  .scroll-holder {
    overflow-x: hidden;
  }

  .scroll-holder .scroll-tray:first-child {
    animation: scroll-tray-hero 180s linear infinite;
  }

  @keyframes scroll-tray-hero {
    0% {
      transform: translateX(0);
    }

    99.99% {
      transform: translateX(-7098px);
    }

    100% {
      transform: translateX(0);
    }
  }

.formfields{
  padding: 7px 0px;
}

.errorlist>li{
  color: rgb(255, 255, 255);

}
.nav-link:hover{
  box-shadow: 0px 3px 3px 1px ;
}

