{% extends 'base.html' %}

{% load static %}
{% block 'content' %}

<h3 style="margin-top: 20px;">About Us</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <p style="font-size: 27px;">Welcome to Movies Ocean your go-to source for all things movies! Whether you’re a casual viewer or a die-hard film buff, we’ve got something for everyone....</p>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-6">
            <h4>Our Story</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p style="font-size: large;">It all started with a love for cinema. From the classic films of the golden age to the latest blockbusters, our passion for movies knows no bounds. santhosh, the founder of movies ocean, started this blog in 2024 to share insights, reviews, and news with fellow movie enthusiasts.</p>
            <p>Growing up, I was always fascinated by the magic of movies. Whether it was the captivating stories, the stunning visuals, or the powerful performances, films had a way of transporting me to different worlds. I spent countless hours watching movies, analyzing scenes, and discussing them with friends and family. This passion eventually led me to pursue a degree in Film Studies, Journalism, where I deepened my understanding of the art and craft of filmmaking.</p>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <img src="{% static 'img/movies.webp' %}" alt="movies image" height="275px" width="450px" >
        </div>
    </div>
    <div class="row" style="padding-top: 28px;">
        <div class="col-6">
            <h4>What We Offer</h4>
        </div>
        <div class="col-6">
            <h4 style="text-align: center;">Join Our Community</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <hr>
        </div>
        <div class="col-6">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>In-depth Reviews: Honest and detailed reviews of the latest releases.</li>
                <li>News and Updates: The latest news from the movie industry.</li>
                <li>Opinion Pieces: Thought-provoking articles on various movie-related topics.</li>
                <li>Interviews: Exclusive interviews with filmmakers and actors.</li>
                <li>Special Features: Unique series and themed posts.</li>
            </ul>
        </div>
        <div class="col-6">
            <p>Our readers are at the heart of everything we do. We love hearing your thoughts and opinions, so don’t hesitate to leave comments or reach out to us on social media.</p>
        </div>
    </div>
    <div class="row" style="padding-top: 28px;">
        <div class="col-6">
            <h4>Get in Touch</h4>
        </div>
        <div class="col-6">
            <h4 style="text-align: center;">Stay Tuned!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <hr>
        </div>
        <div class="col-6">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>We’d love to hear from you! Subscribe to our newsletter for the latest updates, or follow us on instagram. For any inquiries, feel free to contact us at santhosh.20uca132@gmail.com.</p>
        </div>
        <div class="col-6">
            <p>Thank you for visiting [Your Blog Name]. We hope you enjoy reading our content as much as we enjoy creating it!</p>
        </div>
    </div>

</div>

{% endblock 'content' %}